/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.header-controls-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 1rem;
}

.header-text {
  font-size: x-large;
  font-weight: bold;
}

.header-buttons {
  background-color: #f5f3f3;
  font-size: xx-large;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  width: 45px;
}

.month-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
  /* max-width: 600px; */
}
.opaque-cell {
  opacity: 0.5;
}
.d-flex {
  display: flex;
  gap: 0.5rem;
}
.week-day {
  flex-basis: 30%;
  text-align: start;
  font-size: larger;
  font-weight: 700;
}
.week-row {
  flex-basis: 16.5%;
}
.day-cell {
  /* min-height: 150px; */
  border-top: 1px solid;
  border-collapse: separate;
  font-weight: bold;
  font-size: x-large;
  background: #f9f9f9;
  padding: 0.5rem;
  box-sizing: border-box;
}

.event-container {
  padding: 0.2rem;
}

.event-content {
  font-size: small;
}

.event-name-text {
  font-weight: bold;
  padding-bottom: 0.2rem;
}
.event-time-text {
  color: grey;
  font-size: small;
}

.today {
  color: chocolate;
}

.days-row {
  margin-bottom: 2.5rem;
}

.calender-container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  /* max-width: 80%; */
  height: 100%;
  padding-top: 0.5rem;
}
.side-nav-container {
  min-height: 100%;
  flex-basis: 5%;
}

.nav-list {
  list-style: none;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  list-style: none;
  padding-top: 90px;
}

.nav-item {
  cursor: pointer;
  padding: 8px 14px;
  background: #ebeaea;
  font-size: large;
  border-radius: 0.3rem;
  align-content: center;
  text-align: center;
}

.App {
  display: flex;
  height: 100vh;
}
.central-layout {
  width: 100%;
}
.central-layout-content {
  flex-grow: 1;
  padding-left: 2rem;

  height: 100%;
}
.events-action-layout {
  height: 100%;
  display: flex;
  flex-grow: 1;
}
.event-details {
  flex-grow: 1;
}
.main-content-container {
  height: 100%;
}

body {
  height: 100vh;
  overflow-y: hidden; /* Hide vertical scrollbar */
}
.main-header {
  margin: 0;
  padding: 0;
  padding: 1rem;
  box-shadow: 0px 1px 5px 0px #c7c4c4;
}

/* DAY SECTION */

.day-section-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  color: chocolate;
  padding-bottom: 1rem;
  border-bottom: 1px solid;
}

/* Utils */
.text-c {
  text-align: center;
}
.x-lg-fs {
  font-size: x-large;
}
.bold {
  font-weight: bold;
}
.inline-block {
  display: inline-block;
}
